extends ./inc/main
block css
    link(type='text/css',rel='stylesheet',href='http://img.wan.ijinshan.com/vip/css/index.css?v=2017060204')

block variable
    -var curPage='index'
block content
    .banner-index
        ul.btns-banner-index
            li.btn-banner-index.currentbtn-banner-index
            li.btn-banner-index
            //li.btn-banner-index
        ul.l-banner-index
            //li.li-banner-index
                a(href='http://k.wan.liebao.cn/k/active/vctive/second',target='_blank'): img.img-banner(src='http://img.wan.ijinshan.com/vip/images/banner_1.jpg?v=0616')
            li.li-banner-index
                a(href='http://vip.wan.liebao.cn/privilege.html'): img.img-banner(src='http://img.wan.ijinshan.com/vip/images/banner_2.jpg?v=0619')
            li.li-banner-index.none
                a(href='http://vip.wan.liebao.cn/privilege.html'): img.img-banner(src='http://img.wan.ijinshan.com/vip/images/banner_3_1.jpg?v=0619')
    .main
        .login-vip.login-index.none.png_bg#isLogin
            h4.welcome-login 欢迎你！
            h3.name-login
                span#username.username-login
                span.icon-login#vIcon
                a.logout-login(href='javascript:void(0);',the-id="logout") 【退出】
            .txt-login V等级：<span id="vLevel">V0</span>（<span id="vProcess">0</span>/<span id="vLimit">0</span>)
            .pbar-login
                span.process-pbar-login
            //.txt-login <a class="speed-txt-login" href="/payUp.html">加速</a>成长速度：<span id="vSpeed">0</span>点/天
            .txt-login 成长速度：<span id="vSpeed">0</span>点/天
            .txt-login(the-id='accessDom') 服务到期：<span id="vEndTime"></span>
            .txt-login(the-id='unAcesnDom') 您还未开通“豹会员”
            a.btn-access-login.none(href='/payOpen.html',the-id='unAcesnBtn') 开通豹会员
            ul.l-btn-login.none(the-id='accessBtns')
                li.li-btn-login.re
                    p.tip-btn-disabled.none 您当前无剩余续费时长
                    a(href='/payRe.html') 续费会员服务
                //li.li-btn-login.up
                    p.tip-btn-disabled.none 您当前已是最高身份，无需升级
                    a(href='payUp.html') 升级会员服务

        .login-vip.login-index.none.png_bg#unLogin
            a.btn-login.png_bg(href='javascript:void(0);',the-id='loginBtn') 用户登录
            p.tip-login 还没有开通<span class="orange">豹会员</span>？你out了！
            h4.title-intro-login 豹会员提供
            ul.l-intro-login
                li.li-intro-login 丰富优惠赠送
                li.li-intro-login 超豪华大礼包
                li.li-intro-login 尊享特权服务
                li.li-intro-login 海量游戏特权
                .clear
            .btn-access-login(the-id='loginBtn') 开通豹会员

        .mod-vip
            .hd-vip
                h3.title-hd-vip 平台特权
            .bd-vip
                ul.l-intro-index
                    li.li-intro-index
                        a.link-intro-index(href='/privilege.html')
                            .poster-intro-index.coupon
                            h3.title-intro-index 优惠劵特权
                            p.text-title-index 优惠劵大放送<br />让你充值省！省！省！
                    li.li-intro-index
                        a.link-intro-index(href='/privilege.html')
                            .poster-intro-index.identity
                            h3.title-intro-index 身份特权
                            p.text-title-index 尊贵专属身份标识<br />气质与颜值并存
                    li.li-intro-index
                        a.link-intro-index(href='/privilege.html')
                            .poster-intro-index.birthday
                            h3.title-intro-index 生日特权
                            p.text-title-index 游戏礼包+平台礼包<br />Happy Birthday！
                    li.li-intro-index.last
                        a.link-intro-index(href='/privilege.html')
                            .poster-intro-index.active
                            h3.title-intro-index 活动特权
                            p.text-title-index 精彩活动享不停<br />各种大礼等你来拿
        .mod-vip
            .hd-vip
                h3.title-hd-vip 豹会员特权游戏
                h4.intro-hd-vip 开通豹会员独享所有游戏特权
            .bd-vip
                ul.l-lg-index
                    li.li-lg-index
                        a.link-lg-index(href='/gamePrivi.html#sxj',target='_blank'): img(src='http://img.wan.ijinshan.com/vip/images/lg_1.png')
                    li.li-lg-index.even
                        a.link-lg-index(href='/gamePrivi.html#cqby',target='_blank'): img(src='http://img.wan.ijinshan.com/vip/images/lg_2.png')
                    li.li-lg-index
                        a.link-lg-index(href='/gamePrivi.html#gs',target='_blank'): img(src='http://img.wan.ijinshan.com/vip/images/lg_3.png')
                    li.li-lg-index.even
                        a.link-lg-index(href='/gamePrivi.html#cqz',target='_blank'): img(src='http://img.wan.ijinshan.com/vip/images/lg_4.png')
                    .clear
                ul.l-sm-index
                    li.li-sm-index
                        a.link-sm-index(href='/gamePrivi.html#jtfs',target='_blank'): img(src='http://img.wan.ijinshan.com/vip/images/sm_8.png')
                    li.li-sm-index
                        a.link-sm-index(href='/gamePrivi.html#myyh',target='_blank'): img(src='http://img.wan.ijinshan.com/vip/images/sm_11.png')
                    li.li-sm-index
                        a.link-sm-index(href='/gamePrivi.html#ssss',target='_blank'): img(src='http://img.wan.ijinshan.com/vip/images/sm_12.png')
                    li.li-sm-index.last
                        a.link-sm-index(href='/gamePrivi.html#jyjx',target='_blank'): img(src='http://img.wan.ijinshan.com/vip/images/sm_2.png')
                    li.li-sm-index
                        a.link-sm-index(href='/gamePrivi.html#jyjh',target='_blank'): img(src='http://img.wan.ijinshan.com/vip/images/sm_3.png')
                    li.li-sm-index
                        a.link-sm-index(href='/gamePrivi.html#wszzl',target='_blank'): img(src='http://img.wan.ijinshan.com/vip/images/sm_4.png')
                    li.li-sm-index
                        a.link-sm-index(href='/gamePrivi.html#lyb',target='_blank'): img(src='http://img.wan.ijinshan.com/vip/images/sm_5.png')
                    //li.li-sm-index
                        a.link-sm-index(href='/gamePrivi.html#hdzy',target='_blank'): img(src='http://img.wan.ijinshan.com/vip/images/sm_6.png')
                    li.li-sm-index.last
                        a.link-sm-index(href='/gamePrivi.html#snqxz',target='_blank'): img(src='http://img.wan.ijinshan.com/vip/images/sm_7.png')
                    li.li-sm-index
                        a.link-sm-index(href='/gamePrivi.html#dmbj',target='_blank'): img(src='http://img.wan.ijinshan.com/vip/images/sm_1.png')
                    li.li-sm-index
                        a.link-sm-index(href='/gamePrivi.html#lycq',target='_blank'): img(src='http://img.wan.ijinshan.com/vip/images/sm_9.png')
                    li.li-sm-index
                        a.link-sm-index(href='/gamePrivi.html#dtszj',target='_blank'): img(src='http://img.wan.ijinshan.com/vip/images/sm_10.png')
                    li.li-sm-index.last
                        //a.link-sm-index(href='javascript:void(0);')
                            //span.more 更多游戏>>
                        a.more(href='/gamePrivi.html',target='_blank') 更多游戏>>
                    .clear
block dialog
    .mask-dialog.none
    .dialog#tip.none
        .fork-dialog
        .banner-dialog: img(src='http://img.wan.ijinshan.com/vip/images/banner_img_dialog_03.jpg')
        .bd-dialog
            .text-bd-dialog 豹会员，每月可领取相应等级额度的充值优惠券。<br />想省钱？成为豹会员，最高赠送20%！
            .btn-bd-dialog.btn-tip-dialog 一键领取
    .dialog#join.none
        .fork-dialog
        .banner-dialog: img(src='http://img.wan.ijinshan.com/vip/images/banner_dialog_03.jpg')
        .bd-dialog
            .text-bd-dialog 您还不是“豹会员”<br />立即开通享受各项特权吧！
            a.btn-bd-dialog.btn-join.mt0.btn-access-login(href='/payOpen.html') 开通豹会员
block js
     script(type='text/javascript').
        (function(){
            var winW=document.body.clientWidth;
            var bannerW=$('.li-banner-index:visible').find('img').width();
            var timer=[];
            var bannerMl=(bannerW-winW)/2;

            timer.push(setInterval('imgLoop()',4000));
            bannerMl='-'+bannerMl+'px';

            if(bannerW>winW){
                $('.li-banner-index img').css('margin-left',bannerMl);
            }

            $('.banner-index').mouseenter(function(){
                //learInterval(timer);
                for (var i = 0; i < timer.length; i++) {
                    clearInterval(timer[i]);
                }
            }).mouseleave(function(){
                timer.push(setInterval('imgLoop()',4000));
            });

            $('.btn-banner-index').click(function(){
                var ndx=$(this).index();
                $(this).addClass('currentbtn-banner-index').siblings('.btn-banner-index').removeClass('currentbtn-banner-index');
                $('.li-banner-index:eq(' + ndx + ')').fadeIn().siblings('.li-banner-index').fadeOut();
            });

            /*login*/

            if (!ks_user || ks_user.length == 0) {
                $('#isLogin').remove();
                $('#unLogin').show();
            } else {
                $('#isLogin').show();
                $('#unLogin').remove();
                hasVip();
                fillUinfo(ks_user.showname);
            }
            if(isIe6){
                DD_belatedPNG.fix('.png_bg');
            }


            $('[the-id=loginBtn]').click(function () {
                toLogin();
            });

            $('.li-btn-login a,.speed-txt-login').click(function (e) {
                if ($(this).parents('.li-btn-login').hasClass('disabled')) {
                    e.preventDefault();
                }
            });

            $('.speed-txt-login').click(function(e){
                if ($(this).hasClass('disabled')) {
                    e.preventDefault();
                }
            });

            $('.li-btn-login').hover(function () {
                if ($(this).hasClass('disabled')) {
                    $(this).children('.tip-btn-disabled').show();
                }
            }, function () {
                $(this).children('.tip-btn-disabled').hide();
            });

            $(document).on('click','.btn-tip-dialog',function(){
                showJoin();
            });
            $(document).on('click', '.fork-dialog', function () {
                $('.mask-dialog,.dialog').hide();
            });
            $(document).on('click', '.btn-join', function () {
                window.location.href='/payOpen.html';
            });

            function fillUinfo(username) {
                $('#username').text(username);

                $.ajax({
                    url: 'http://vip.wan.liebao.cn/vip/user/api/info',
                    type: 'get',
                    dataType: 'jsonp',
                    success: function (res) {
                        var ret = res.ret;
                        var data = res.data;
                        var status =data.status;
                        var obtainway=data.obtain_ways;
                        var endTime=data.end_time.replaceAll('/','-');
                        var pPercent;
                        var percentV;
                        var grouthLimit=parseInt( data.grouth_next_level_min )|| 'MAX';

                        parseInt(data.grouth_next_level_min) ? pPercent=(parseInt(data.grouth)/parseInt(data.grouth_next_level_min))*100 : pPercent='100';
                        percentV=pPercent+'%';
                        if(ret!=1 || status==0){
                            $('[the-id=accessDom]').remove();
                            $('[the-id=accessBtns]').remove();
                            $('[the-id=unAcesnBtn]').css({
                                'display':'block'
                            });
                            $('.speed-txt-login').attr('href','/payOpen.html');
                            $('.pbar-login').addClass('grey');
                            $('#vIcon').css('background', 'url(http://img.wan.ijinshan.com/vip/images/logo_default.png)');
                            return false;
                        }
                        //obtainway == 2 || status==2 ? $('[the-id=accessBtns]').remove() : $('[the-id=unAcesnBtn]').remove();
                        //if(obtainway==2 || status==2){
                        //    $('.speed-txt-login').attr('href','/payOpen.html');
                        //}

                        if (obtainway == 2 || status == 2) {
                            $('[the-id=accessBtns]').remove();
                            $('[the-id=unAcesnBtn]').css({
                                'display': 'block'
                            });
                            $('.speed-txt-login').attr('href', '/payOpen.html');
                        }else {
                            $('[the-id=unAcesnBtn]').remove();
                            $('[the-id=accessBtns]').css('display','block');
                        }

                        $('#vIcon').css('background','url('+data.icon_address+')');
                        $('.process-pbar-login').css('width',percentV);
                        $('[the-id=unAcesnDom]').remove();

                        $('#vLevel').text(data.level_display);
                        $('#vProcess').text(data.grouth);
                        $('#vLimit').text(grouthLimit);
                        $('#vSpeed').text(data.grouth_speed);
                        //$('#vIcon').css('background',data.icon_address);
                        $('#vEndTime').text(endTime);
                        if (data.is_max_role) {
                            $('.li-btn-login.up').addClass('disabled');
                            if(obtainway!=2 && status!=2){
                                $('.speed-txt-login').addClass('disabled');
                            }
                        }
                        if (data.is_max_time) {
                            $('.li-btn-login.re').addClass('disabled');
                        }

                        /*
                        if(data.role_id=='7'){
                            $('.li-btn-login.re').addClass('mt70');
                            $('.li-btn-login.up').remove();
                        }
                        */
                    }
                });
            }

            $(function () {
                if ($.browser.msie && ("6.0,7.0,8.0".indexOf($.browser.version) != -1)) {
                    var resizeTimer,winW;
                    $(window).on('resize', function () {
                        clearTimeout(resizeTimer);
                        resizeTimer = setTimeout(function () {
                            winW = $('body').width();
                            $('.banner-index').width(winW);
                        }, 2000);
                    });
                }
                /*
                else {
                    $(window).resize(function () {
                        window.location.reload();
                    })
                }
                 */
            });

        })();

        function imgLoop() {
            //var lst = 2;
            var lst = 1;
            var ndx = $('.li-banner-index:visible').index();
            ndx == lst ? ndx = 0 : ndx++
            $('.li-banner-index:eq(' + ndx + ')').fadeIn().siblings('.li-banner-index').fadeOut();
            $('.btn-banner-index:eq('+ndx+')').addClass('currentbtn-banner-index').siblings('.btn-banner-index').removeClass('currentbtn-banner-index');
        }

        function hasVip (){
            $.ajax({
                url: 'http://vip.wan.liebao.cn/vip/user/api/info',
                type: 'get',
                dataType: 'jsonp',
                // async:false,
                success: function (res) {
                    var ret = res.ret;
                    var data=res.data;
                    var status;
                    if (ret == 14014 || ret == 14003 || data.uid=='0') {
                        showTip();
                    }
                }
            });
        }

        function showTip (){
            $('.mask-dialog,#tip').show();
            maskH();
            if(isIe6){
                DD_belatedPNG.fix('.fork-dialog');
            }
            ieScroll();
        }

        function showJoin (){
            $('#tip').hide();
            $('#join').show();
            if (isIe6) {
                DD_belatedPNG.fix('.fork-dialog');
            }
            ieScroll();
        }

        function maskH (){
            var h=Math.max( $(document).height(),$('body').height() );
            $('.mask-dialog').height(h);
        }

        function ieScroll() {
            var ieMode = document.documentMode;
            var isIE = !!window.ActiveXObject;
            var isIE6 = isIE && !window.XMLHttpRequest;
            var isIE7 = isIE && !isIE6 && !ieMode || ieMode == 7;
            if (isIE6 || isIE7) {
                var sH = document.documentElement.scrollTop + document.body.scrollTop;
                var t = sH + 20;
                $('.dialog').css('top', t + 'px');
            }
        }


